#components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;   
}
.header{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}
.headerButton{
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    line-height: 20px;
    margin: 0 5px;
    padding: 2px 5px;
}