/***** modal ********/

.ant-modal-wrap>.ant-modal {
  /* 让模态框的宽度由内容决定 */
  width: fit-content !important;

  /* 改变默认字体样式 */
  font-variant: inherit;
  font-feature-settings: inherit;
}

.ant-modal-wrapper .ant-modal-body {
  padding: 0;
}

.ant-modal-root .ant-modal-content {
  background-color: unset;
  color: unset;
}

/***** modal end ********/
