.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow{
    top: 8px 
}

.investment-header{
    height: 40px;
    line-height: 40px;
}

.investment-header-left{
    display: inline-block;
    width: 180px;
    padding-left: 18px;
}
.investment-table-header{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tokenName{
    display: inline-block;
    width: 150px;
}
.investment-table-header-right{
    width: 200px;
    display: flex;
    justify-content: space-around;
}
.header_right{
    height: 100%;
    width: 400px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.account-name{
    display: flex;
    overflow: hidden;
    margin: 20px;
}
.account-name span:nth-child(1){
    overflow: hidden;
    width: 32px;
    display: block;
}
.account-name span:nth-child(3){
    overflow: hidden;
    width: 32px;
    display: block;
}