.prevStateShow{
    height:120px;
}

.prevStateShow-children{
    margin:10px;
    float: left;
    width: 150px;
    height: 100px;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.prevStateShow-children div{
    text-align: center;
}
.ant-table-wrapper{
    margin-top: 10px;
}